<script>
    function logout() {
        $.ajax({
            url: "/logOut.do",
            data: '',
            type: "post",
            timeout: 3000,
            dataType: "json",
            async: false,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                location.reload();
            },
            success: function (responseText, textStatus, XMLHttpRequest) {
                location.reload();
            }
        });
    }
</script>
<div style="background-image: url('/images/common/top.jpg') ;height: 100px; width: 100%; top: 0;left: 0;z-index: -1;">
    <div align="right">
        欢迎：<span style="text-align: right" th:text="${#request.getSession().getAttribute('user')}"></span>！！！
    </div>
    <div align="right">
        <input type="button" value="注销登录" onclick="logout()">
    </div>
    <table width="100%">
        <tr>
            <td width="20%">首页</td>
            <td width="20%">精品家居</td>
            <td width="20%">潮流服饰</td>
            <td width="20%">新鲜水果</td>
            <td width="20%">数码电子</td>
        </tr>
    </table>
</div>