<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" th:with="title='登录'">
<head th:replace="common/head :: common_header(~{::link},~{::script})">
    <link type="text/css" rel="stylesheet" th:href="@{/web/login/login.css}"/>
    <script type="text/javascript" th:src="@{/web/home/home.js}"></script>
</head>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<div th:replace="common/top"></div>
<div style="margin-top: 20px">
    <button type="button" class="btn btn-info" style="float: right">上架商品</button>
    <table width="98%" align="center">
        <tr>
            <td name="gnmk" style="text-align: center;font-size: 20px;" th:each="gnmklist,status:${gnmk}">
            <span th:text="${gnmklist.mkmc}" onclick="tognmk(this)">
            </span>
                <input type="hidden" th:value="${gnmklist.id}">
            </td>
        </tr>
    </table>

</div>

<div th:replace="common/foot"></div>
</html>