<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" th:with="title='登录'">
<head th:replace="common/head :: common_header(~{::link},~{::script})">
    <link type="text/css" rel="stylesheet" th:href="@{/web/login/login.css}"/>
    <script type="text/javascript" th:src="@{/web/home/home.js}"></script>
</head>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<div class="heading" th:replace="common/top"></div>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">上架商品</button>
<div style="margin-top: 20px">
    <div class="heading">
        <table width="98%" align="center">
            <tr>
                <td name="gnmk" style="text-align: center;font-size: 20px;" th:each="gnmklist,status:${gnmk}">
                    <form th:action="@{/home.do}" th:method="post">
                            <span th:text="${gnmklist.mkmc}" onclick="tognmk(this)">
                            </span>
                        <input id="mkid" name="mkid" type="hidden" th:value="${gnmklist.id}">
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div class="content_menu">
        <table id="gncd_tab" width="20%" style="height: 500px;margin-left: 50px;">
            <tr name="gnmk" style="text-align: center;font-size: 16px;" th:each="gncdlist,status:${gncd}">
                <td th:text="${gncdlist.gn_mc}" onclick="togncd(this)">

                </td>
                <form th:action="@{/home.do}" th:method="post">
                    <input id="gnid" name="gnid" type="hidden" th:value="${gncdlist.id}">
                    <input id="mkid" name="mkid" type="hidden" th:value="${gncdlist.mkid}">
                </form>
            </tr>
        </table>
    </div>
    <div class="content_body">
        <table id="sp_tab" style="height: 500px;margin-left: 50px;">
            <tr>
                <td name="gnmk" style="font-size: 16px;" th:each="gncdlist,status:${sp}">
                    <form th:action="@{/home.do}" th:method="post">
                        <span th:text="${gncdlist.spmc}" onclick="togncd(this)"></span>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">新增商品</h4>
            </div>
            <div class="modal-body" >
                <form th:action="@{/addSp.do}" th:method="post" id="sp_from" align="center">
                    <table>
                        <tr>
                            <td width="20%" align="right"><span>商品名称：</span></td>
                            <td width="80%"><input  style="display: inline;" type="text" id="spmc" name="spmc" class="form-control" autocomplete="off"></td>
                        </tr>
                        <tr>
                            <td width="20%" align="right"><span align="right">所属模块：</span></td>
                            <td width="80%">
                                <select class="form-control" id="spmk" name="spmk" title="选择商品模块"
                                    data-width="300px" onchange="changespmk()">
                                    <option value="">请选择...</option>
                                    <option th:each="gnmk,gnmkStat:${gnmk}" th:attr="value=${gnmk.id}">
                                        <span th:utext="${gnmk.mkmc}"></span>
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%" align="right"><span align="right">详细分类：</span></td>
                            <td width="80%">
                                <select class="form-control" id="spfl" name="spfl" title="选择商品分类"
                                        data-width="300px">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%" align="right"><span>商品描述：</span></td>
                            <td width="80%"><textarea  style="display: inline;" id="spms" name="spms" class="form-control" autocomplete="off"></textarea></td>
                        </tr>
                        <tr>
                            <td width="20%" align="right"><span>是否选用：</span></td>
                            <td width="80%">
                                <select class="form-control" id="yxbz" name="yxbz" title="选择商品分类"
                                        data-width="300px">
                                    <option value="Y">选用</option>
                                    <option value="N">停用</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button id="closeModel" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary" onclick="addsp()">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="floor" th:replace="common/foot"></div>
</html>